the show pagina
<p>Here is your shortened url!</p>
<%= link_to short_url(@short), short_url(@short) %>
<p>The old URL</p>
<%= link_to @short.long, @short.long %>

<p><%= link_to 'Make another short url', new_short_path %> </p>