<center>
	<div class = "result">
	
		<p>Cool, now you can share this with your friends!</p>
		<%= link_to short_url(@short), short_url(@short) %>
	</div>

	<div id="link-for-more">
		<%= link_to 'Make another link', new_short_path %> 
	</div>
</center>